@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
	/* Colors */

	/* Backgrounds */
	--color-body: oklch(0.9821 0 0);
	--color-content: oklch(1 0 0);
	--color-card: oklch(0.975 0.003 95);
	--color-content-alt: oklch(0.975 0.003 95);
	--color-card-alt: oklch(1 0 0);
	--color-footer: oklch(0.955 0 0);

	/* Borders */
	--color-border: oklch(0.9205 0.0042 301.42);

	/* Text */
	--color-primary-text: oklch(0.21 0 0);
	--color-secondary-text: oklch(0.45 0 0);
	--color-disabled: oklch(87.2% 0.01 258.338);
	--color-error: oklch(57% 0.22 25);
	--color-link: oklch(0.52 0.14 255);
	--color-link-hover: oklch(0.45 0.18 255);

	--color-gold: oklch(87.9% 0.169 91.605);
	--color-gold-dark: oklch(82.8% 0.189 84.429);
	--color-gold-light: oklch(92.4% 0.12 95.746);

	--color-light-text: oklch(0.96 0 0);

	--color-text: oklch(0.1297 0.0171 298.93);
	--color-text-heading: oklch(0.5135 0.0296 305.45);
	--color-text-disabled: oklch(87.2% 0.01 258.338);
	--color-bg: oklch(0.9821 0 0);
	--color-bg-accent: oklch(92.8% 0.006 264.531 / 0.4);
	--color-text-black: oklch(0.1297 0.0171 298.93);
	--color-dark-border: oklch(0.3113 0.0181 276.38);
	--color-charcoal-blue: oklch(0.2 0.02 250);
	--color-charcoal-blue-item: oklch(0.24 0.02 250);
	--color-slate-blue: oklch(0.55 0.03 245);
	--color-slate-blue-item: oklch(0.6 0.025 245);
	--color-white-item: oklch(0.96 0 250);

	/* Fonts */
	--font-limelight: "Limelight", sans-serif;
	--font-bodini-moda: "Bodoni Moda", serif;
	--font-open-sans: "Open Sans", sans-serif;

	/* Animations */
	--animate-fade-move-up: fade-move-up 0.5s ease-in-out both;
	--animate-fade-move-up-more: fade-move-up-more 0.5s ease-in-out both;
	--animate-fade: fade 0.5s ease-in-out both;

	@keyframes fade-move-up {
		0% {
			opacity: 0;
			translate: 0px 12px;
		}

		100% {
			opacity: 100;
			translate: 0px 0px;
		}
	}

	@keyframes fade-move-up-more {
		0% {
			opacity: 0;
			translate: 0px 24px;
		}

		100% {
			opacity: 100;
			translate: 0px 0px;
		}
	}

	@keyframes fade {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 100;
		}
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		/* Backgrounds */
		--color-body: oklch(0.14 0.01 250);
		--color-content: oklch(0.2 0.01 250);
		--color-card: oklch(0.24 0.01 250);
		--color-content-alt: oklch(0.24 0.01 250);
		--color-card-alt: oklch(0.2 0.01 250);
		--color-footer: oklch(0.14 0.01 250);

		/* Text */
		--color-primary-text: oklch(96% 0 0);
		--color-secondary-text: oklch(78% 0 0);
		--color-disabled: oklch(37.3% 0.034 259.733);
		--color-error: oklch(68% 0.18 25);
		--color-link: oklch(0.78 0.1 255);
		--color-link-hover: oklch(0.84 0.12 255);

		/* Borders */
		--color-border: oklch(0.28 0.01 250);

		--color-text-heading: oklch(0.7137 0.0192 261.32);
		--color-bg: oklch(0.2063 0.012 277.83);
		--color-bg-accent: oklch(37.3% 0.034 259.733 / 0.2);
	}
}

@layer base {
	/* Base */
	* {
		@apply border-border outline-text;
	}

	/* Layout */

	/* Page margins within <main> element */
	.page-margins {
		@apply pt-38 pb-8 sm:pt-48 sm:pb-12 w-full max-w-292.5 lg:border-x;
	}

	dl {
		@apply flex flex-col gap-4;

		div {
			@apply flex flex-col gap-0.5;

			dt {
				@apply uppercase text-xs text-text-heading sm:text-sm;
			}
		}
	}

	article article {
		@apply flex flex-col gap-4 px-6 mt-4 mb-8 sm:px-12;

		section {
			@apply flex flex-col gap-4;
		}

		h2,
		h3 {
			@apply text-secondary-text;
		}

		h2 {
			@apply text-xl mt-4 md:text-2xl;
		}

		p,
		dd {
			@apply font-light lg:text-[17px] min-[1170px]:pr-32;

			p {
				@apply p-0 mb-2 last:mb-0;
			}
		}
	}

	.section {
		@apply bg-content;

		li {
			@apply bg-card;
		}
	}

	.section-alt {
		@apply border-y bg-content-alt;

		li {
			@apply bg-card-alt;
		}
	}

	/* Lists of films  */
	.film-details-list {
		ul {
			@apply divide-y my-4;

			li {
				@apply py-8 flex flex-col gap-4 first:border-t last:border-b;
			}
		}
	}

	/* List of simple links */
	ul.link-list {
		@apply flex flex-col gap-6;

		li {
			@apply flex justify-between items-center;
		}
	}

	/* End of article reference list */
	.references {
		@apply text-sm font-light list-disc border-t pt-8 mt-8 lg:text-[15px] min-[1170px]:pr-32;

		h3 {
			@apply text-xl;
		}

		ul {
			@apply divide-none my-0 px-4 list-disc list-outside;

			li {
				@apply py-2 border-none list-item;
			}
		}
	}

	/* Links */
	a.active {
		@apply text-gold-dark;
	}

	.content-link {
		@apply text-link font-normal hover:underline hover:underline-offset-4 hover:text-link-hover;
	}
}
