@import "tailwindcss";

@theme {
	--color-text: #08060d;
	--color-text-heading: #6b6375;
	--color-bg: #fff;
	--color-border: #e5e4e7;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #f3f4f6;
		--color-text-heading: #9ca3af;
		--color-bg: #16171d;
		--color-border: #2e303a;
	}
}
