@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
	/* Colors */
	--color-text: oklch(0.1297 0.0171 298.93);
	--color-text-heading: oklch(0.5135 0.0296 305.45);
	--color-text-disabled: oklch(87.2% 0.01 258.338);
	--color-bg: oklch(1 0 0);
	--color-bg-accent: oklch(92.8% 0.006 264.531 / 0.4);
	--color-border: oklch(0.9205 0.0042 301.42);
	--color-gold: oklch(87.9% 0.169 91.605);
	--color-gold-dark: oklch(82.8% 0.189 84.429);
	--color-gold-light: oklch(92.4% 0.12 95.746);

	/* Fonts */
	--font-limelight: "Limelight", sans-serif;
	--font-bodini-moda: "Bodoni Moda", serif;
	--font-open-sans: "Open Sans", sans-serif;
}

/* rgb(0 0 0 / 0.05) */

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: oklch(0.967 0.0029 264.54);
		--color-text-heading: oklch(0.7137 0.0192 261.32);
		--color-text-disabled: oklch(37.3% 0.034 259.733);
		--color-bg: oklch(0.2063 0.012 277.83);
		--color-bg-accent: oklch(37.3% 0.034 259.733 / 0.2);
		--color-border: oklch(0.3113 0.0181 276.38);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	h1,
	h2 {
		@apply text-text-heading;
	}

	a.active {
		@apply text-gold-dark;
	}

	.text-link {
		@apply border-b-2 border-dotted py-0.5 border-gold-dark hover:text-gold-dark;
	}
}
